<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="A3K_Library.Properties.Settings.A3K_LibraryConnectionString"
            connectionString="Data Source=LENOVO\AKMALAMRAN;Initial Catalog=A3K_Library;User ID=sa;Password=uzumaki"
            providerName="System.Data.SqlClient" />
        <add name="A3K_Library.Properties.Settings.A3K_LibraryConnectionString1"
            connectionString="Data Source=LENOVO\AKMALAMRAN;Initial Catalog=A3K_Library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>